@import "../../styles/variables";

.pagination{
    >ul{
        display: flex;
        margin: 20px;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33px;
            height: 33px;
            border: 1px solid $brightGray;
            border-radius: 9px ;
            cursor: pointer;

            &:not(:last-child){
                margin-right: 13px;
            }
            
            &.active{
                background-color: $vividOrange;
            }
            &:not(.disabled){
                &:hover{
                    background-color: $vividOrange;
                }
            }
            &.disabled {
                opacity:0.6; 
                cursor: not-allowed;       
            }
            
        }
    }
}