$white : #fff;
$black : #000;
$vividOrange: #ff6000;
$brightGray: #eeeeee;
$gray69: #b0b0b0;
$darkGray: #484848;
$chineseSilver: #CDCDCD;
$yellowGreen: #90D659;
$jellyBean: #D65959;
$gray90: #e5e5e5;
$spanishGray: #9b9b9b;
$graniteGray: #646464;