@import "../../styles/variables";

.sidebar{
    flex: 0 0 16%;
    &_title{
        font-weight: 500;
        line-height: 24px;
        color: $darkGray;
        margin: 24px 0 20px 0;
    }
}
.nav{
    &_items{
        &_item{
            font-size: 14px;
            line-height: 24px;
            color: $graniteGray;
            cursor: pointer;

            &__active{
                color: $vividOrange;
            }
        }
    }
}